section {
  min-height: 40vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: center;
  background: transparent;
background: -moz-linear-gradient(180deg, transparent 0%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(180deg, transparent 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(180deg, transparent 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#94bbe9",endColorstr="#ffffff",GradientType=1);

  .container {
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    h2 {
      font-size: 3rem;
      line-height: 4.125rem;
    }
  }
}
