<div class="upload-image">
  <header>
    <div class="container">
      <div class="logo" routerLink="/">{{ brandName }}</div>
      
    </div>
  </header>
  <div class="content">
    <div class="image-preview-holder">
      <div
        class="image-wrapper"
        [style.backgroundImage]="'url(' + imageUrl + ')'"
      >
        <input type="file" accept="image/*" (change)="onFileSelected($event)" />

        <div class="text" *ngIf="!imageUrl">
          <p class="drag-text">Drag and drop image or</p>
          <p class="click-text">
            {{
              imageUrl ? "Click to change image" : "Click to upload thumbnail"
            }}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
            >
              <path
                fill="#00008b"
                d="M17 4a2 2 0 1 0 0 4a2 2 0 0 0 0-4m-4 2a4 4 0 1 1 8 0a4 4 0 0 1-8 0M9.928 8.124l4.419 7.015l2.581-3.975L23.966 22H1.188zm0 3.752L4.812 20h15.47l-3.354-5.164l-2.607 4.014z"
              />
            </svg>
          </p>
        </div>
      </div>
      <div class="change-btn-container" *ngIf="imageUrl">
        <button class="change-image-btn">
          <input
            type="file"
            accept="image/*"
            (change)="onFileSelected($event)"
          />
          Change Image
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
          >
            <path
              fill="#00008b"
              d="M17 4a2 2 0 1 0 0 4a2 2 0 0 0 0-4m-4 2a4 4 0 1 1 8 0a4 4 0 0 1-8 0M9.928 8.124l4.419 7.015l2.581-3.975L23.966 22H1.188zm0 3.752L4.812 20h15.47l-3.354-5.164l-2.607 4.014z"
            />
          </svg>
        </button>
      </div>
    </div>
    <form (submit)="onSubmit()">
      <input
        type="text"
        name=""
        id=""
        [value]="fileName"
        placeholder="Image name..."
      />

      <textarea
        name="description"
        id="description"
        placeholder="Description"
        [(ngModel)]="description"
        required
        (input)="changeDescription($event)"
      ></textarea>

      <div class="tag">
        <p>Select Tags:</p>
        <div class="tags-holder">
          @for (tag of tags; track $index) {
          <span
            (click)="selectTag(tag)"
            [style.backgroundColor]="
              selectedTags.includes(tag.toLowerCase()) ? '#fff' : '#f6f8fa77'
            "
            >{{ tag | titlecase }}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24px"
              height="24px"
              viewBox="0 0 21 21"
              *ngIf="selectedTags.includes(tag.toLowerCase())"
              (click)="deSelectTag(tag, $event)"
            >
              <path
                fill="none"
                stroke="#666666"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m7.5 7.5l6 6m0-6l-6 6"
              />
            </svg>
          </span>
          }<svg
            xmlns="http://www.w3.org/2000/svg"
            width="30px"
            height="30px"
            viewBox="0 0 24 24"
            (click)="isTagInput = true"
          >
            <g fill="none">
              <circle
                cx="12"
                cy="12"
                r="9"
                fill="#00008b"
                fill-opacity="0.25"
              />
              <path
                stroke="#00008b"
                stroke-linecap="square"
                stroke-linejoin="round"
                stroke-width="1.2"
                d="M12 8v8m4-4H8"
              />
            </g>
          </svg>
        </div>
      </div>

      @if (isTagInput) {
      <input
        type="text"
        placeholder="Add to selected tags"
        (keydown)="getTag($event)"
        (blur)="isTagInput = false"
      />
      }

      <button type="submit" [disabled]="!checkValidity()">Upload</button>
    </form>
  </div>
</div>
