<div class="scrolling-card" #scrollingCard>
  <div class="card-container">
    <div
      class="card"
      *ngFor="let card of cards; let i = index"
      (mouseover)="onHoverVideoCard(i)"
      (mouseout)="onLeaveVideoCard(i)"
    >
      <!-- <iframe
        width="560"
        height="320"
        src="https://www.youtube.com/embed/6_3cLlSlTKw?si=OoPP1RmRMXhY-WiG&autoplay=1&controls=0&mute=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe> -->

      <video
        (load)="lazyLoadVideo(i)"
        [autoplay]="true"
        [muted]="true"
        src="{{ card.src }}"
      ></video>
    </div>
    <div class="card" *ngFor="let card of cards; let i = index">
      <video
        (load)="lazyLoadVideo(i)"
        [autoplay]="true"
        [muted]="true"
        src="{{ card.src }}"
      ></video>
    </div>
  </div>
</div>
