@import "all-sass-imports";

section {
  min-height: 70vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  padding: 2.857rem 0;
  justify-content: center;

  .container {
    width: 80%;

    @include screen-breakpoints(phone) {
      width: 100%;
    }

    @include screen-breakpoints(tablet-portrait) {
      width: 90%;
    }

    header {
      text-align: center;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      row-gap: 1.429rem;
      width: 80%;

      @include screen-breakpoints(tablet-portrait) {
        width: 90%;
        text-align: left;
      }

      @include screen-breakpoints(phone) {
        width: 95%;
      }

      h2 {
        font-size: 2rem;
        line-height: 2.375rem;

        @include screen-breakpoints(phone) {
          font-size: 1.7rem;
          line-height: 2.625rem;
          text-align: left;
        }
      }
      p {
        font-size: 1.2rem;

        @include screen-breakpoints(tablet-portrait) {
          font-size: 1.4rem;
          text-align: left;
        }

        @include screen-breakpoints(phone) {
          font-size: 1.1rem;
          text-align: left;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      row-gap: 4.286rem;
      padding: 2.857rem 0;

      .service {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 1.429rem;

        @include screen-breakpoints(tablet-portrait) {
          width: 100%;
          flex-direction: column;
          row-gap: 1.429rem;
        }

        

        .gif-animation {
          height: 25.714rem;
          border-radius: 0.571rem;
          position: relative;
          overflow: hidden;
          transition: all ease-in-out 600ms;
          width: 50%;

          &:hover {
            transform: rotate(4deg);
          }

          @include screen-breakpoints(phone) {
            width: 95%;
          }

          @include screen-breakpoints(tablet-portrait) {
            width: 95%;
          }

          iframe {
            border-radius: 0.571rem;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
          }
        }
        .text {
          grid-area: 1 / 11 / auto / span 7;
          -webkit-box-pack: center;
          justify-content: center;
          display: flex;
          flex-direction: column;
          row-gap: 0.714rem;
          width: 50%;

          @include screen-breakpoints(tablet-portrait) {
            width: 95%;
          }

          @include screen-breakpoints(phone) {
            width: 95%;
          }

          h3 {
            font-size: 1.5rem;

            @include screen-breakpoints(phone) {
              font-size: 1.6rem;
            }
          }
          p {
            font-size: 1rem;
            text-align: left;

            @include screen-breakpoints(phone) {
              font-size: 1.1rem;
            }

            @include screen-breakpoints(tablet-portrait) {
              font-size: 1.2rem;
            }

            a {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
