<section>
  <div class="container">
    <header>
      <h2>Why teams choose {{ brandName }}</h2>
      <p>
        Real-time collaboration, automation, and AI take service to the next
        level. Get the efficiency of a help desk with the familiarity of email
        or Slack for top-quality service that stands out.
      </p>
    </header>

    <div class="content">
      <div class="service">
        <div class="gif-animation">
          <lottie-player
            src="https://lottie.host/262bf89c-3118-4c42-a8d6-fac0f7a3118d/dWS3G6zlk9.json"
            background="transparent"
            speed="1"
            loop
            autoplay
          >
          </lottie-player>
        </div>
        <div class="text">
          <h3>Faster and more intuitive</h3>
          <p>
            Handling an issue shouldn’t take 10 clicks or switching tools.
            Quickly collaborate behind the scenes for smooth resolution, every
            time.
          </p>
          <p>
            <a
              >Learn more<!-- -->
              →</a
            >
          </p>
        </div>
      </div>
      <div class="service">
        <div class="gif-animation">
          <lottie-player
            src="https://lottie.host/18d42316-042d-46bb-b2c3-b7b6c99db51f/EoE7nSvry9.json"
            background="transparent"
            speed="1"
            loop
            autoplay
          >
          </lottie-player>
        </div>
        <div class="text">
          <h3>Easier to maintain</h3>
          <p>
            Automate processes with no-code workflows and integrations that are
            simple to implement and update. No costly consultants required.
          </p>
          <p>
            <a
              >Learn more<!-- -->
              →</a
            >
          </p>
        </div>
      </div>
      <div class="service">
        <div class="gif-animation">
          <lottie-player
            src="https://lottie.host/ab4203bf-e315-445e-9859-ffcfebb4da9a/1LSPOFzCXu.json"
            background="transparent"
            speed="1"
            loop
            autoplay
          >
          </lottie-player>
        </div>
        <div class="text">
          <h3>Practical AI to help you scale</h3>
          <p>
            Answer live chats instantly with an AI-enabled bot, and give your
            team an AI boost on every reply. It’s a win-win for you and your
            customers.
          </p>
          <p>
            <a
              >Learn more<!-- -->
              →</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
