<section>
  <div class="container">
    <header>
      <h2>
        Where Artistry Meets Algorithm: The {{ brandName }} Tech Experience
      </h2>
      <p>
        Embark on a voyage through the digital frontier, where each exhibit is a
        portal to new worlds of possibility. {{ brandName }} is not just a
        gallery; it's a journey through the marvels of modern technology,
        curated to inspire, educate, and provoke thought.
      </p>
    </header>

    <div class="content">
      <div class="service">
        <div class="gif-animation">
          <!-- <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/5puu3kN9l7c?autoplay=1&mute=1&playlist=5puu3kN9l7c&loop=1&controls=0&modestbranding=1"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe> -->
          <video
            (load)="lazyLoadVideo($event)"
            [autoplay]="true"
            [muted]="true"
            src="../../../../../assets/landing-page/videos/y2mate.com - Google CEO Sundar Pichai and the Future of AI  The Circuit_720pFH.mp4"
          ></video>
        </div>
        <div class="text">
          <h3>Seamless Interaction with Innovation</h3>
          <p>
            Step into an interactive canvas where technology comes alive at your
            fingertips. Glide through our gallery with intuitive grace, where
            each exhibit responds to your presence, adapting and evolving in
            real time. Here, the fusion of form and function reaches its zenith,
            offering not just a user-friendly design, but a truly sentient
            interface. Engage with installations that learn and grow with each
            interaction, ensuring a visit that's as unique as you are. No more
            navigating through cumbersome interfaces—welcome to a world of
            effortless, fluid engagement.
          </p>

          <p>
            <a
              >Explore the Tech<!-- -->
              →</a
            >
          </p>
        </div>
      </div>
      <div class="service">
        <div class="gif-animation">
          <video
            (load)="lazyLoadVideo($event)"
            [autoplay]="true"
            [muted]="true"
            src="../../../../../assets/Video-Galley/Apple March 2024 Event LEAKS - This Changes EVERYTHING...mp4"
          ></video>
        </div>

        <div class="text">
          <h3>Art Meets Innovation</h3>
          <p>
            Step into a world where art and technology converge, creating a
            seamless fusion of aesthetics and functionality. Our gallery's
            cutting-edge curation tools are designed to empower artists and
            enthusiasts alike, offering an intuitive platform for showcasing and
            interacting with digital masterpieces. With our innovative system,
            you can effortlessly update your collection, curate new exhibits,
            and integrate the latest tech trends into your artistic vision.
            Experience the future of art curation—where every update is a
            brushstroke on the canvas of digital innovation.
          </p>

          <p>
            <a
              >Discover Innovation<!-- -->
              →</a
            >
          </p>
        </div>
      </div>
      <div class="service">
        <div class="gif-animation">
          <video
            (load)="lazyLoadVideo($event)"
            [autoplay]="true"
            [muted]="true"
            src="../../../../../assets/landing-page/videos/y2mate.com - The Future of AI with GOOGLE CEO Sundar Pichai_720p.mp4"
          ></video>
        </div>
        <div class="text">
          <h3>Interactive AI: Your Digital Docent</h3>
          <p>
            Immerse yourself in the digital realm with our Interactive AI
            Docent, your personal guide through the labyrinth of innovation.
            This AI companion is more than just a guide; it's a storyteller,
            weaving narratives that bring the tech gallery to life. As you
            navigate through the exhibits, our AI Docent offers contextual
            insights, delving into the deeper meanings and the brilliant minds
            behind each creation. With each step, your journey is enriched by
            interactive discussions, tailored to your interests and curiosities,
            ensuring a gallery visit that's as informative as it is inspiring.
          </p>

          <p>
            <a
              >Embark on the AI Journey<!-- -->
              →</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
